<!DOCTYPE HTML>
<html ng-app="notes">
    <head>
        <title>ToDo-List</title>
        <meta content="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Latest AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

        <!-- External CSS -->
        <link rel="stylesheet" href="style.css">

        <!-- External Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

        <script src="notes.js"></script>

    </head>
    <body id="notes" style="height: 100%" ng-controller="notesController">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand-name" class="navbar-brand" href="#">tasks.</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <section class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title">
                            <input type="text" class="form-control" placeholder="Description">
                        </div>
                        <button class="btn btn-link" ng-click="addNote()"><span class="glyphicon glyphicon-plus"></span></button>
                    </section>
                </div>
            </div>
        </nav>
        <div id="upload">
            <span class="glyphicon glyphicon-upload" style="font-size: 56pt; margin-bottom: 10px;"></span><br />Drag and drop your notes here.
        </div>
        <div ng-include="'note.html'" class="note" ng-repeat="todo in todos"></div>
        <script src="todo.js"></script>
    </body>
</html>
