html {
	height: 100%;
	background-color: beige;
}

body {
	background-color: beige;
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

a {
	outline: none;
}

h2 {
	margin: 20px;
	font-family: 'Pacifico', cursive;
}

.form-group {
	width: 53%;
}

#title {
	width: 28%;
}

#description {
	width: 70%;
}

#upload {
	width: 100%;
	text-align: center;
	font-size: 21pt;
	color: #333333;
	font-family: 'Pacifico', cursive;
}

#upload-button {
	background-color: #333333;
	color: whitesmoke;
	border: none;
	font-size: 16pt;
	padding: 10px 60px 10px 60px;
}

#upload-button:hover {
	color: beige;
}


#notes {
	background-color: beige;
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#brand-name {
    font-family: 'Pacifico', cursive;
    font-size: 21pt;
    color: whitesmoke;
}

#brand-name:hover {
    color: #9d9d9d;
    cursor: pointer;
}

.note {
	background-color: coral;
	margin-top: 1%;
	margin-left: 1%;
	padding: 1.5%;
	padding-bottom: 0.5%;
	max-width: 23.75%;
	min-width: 200px;
}

#note-buttons {
	display: flex;
}

.btn {
	margin: auto;
}

.btn:hover, .btn:active, .btn-link:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none;
    color: whitesmoke;
    text-decoration: none;
}

.note-btn {
	margin-left: 10px;
}

.note-btn:hover {
	color: black;
}

p {
	margin-top: 15px;
}

.note-title {
	color: whitesmoke;
}

.note-body {
	color: black;
}

.btn-link {
	color: whitesmoke;
}

.btn-link:hover {
	color: black;
}

.note-title, .note-body {
	width: 100%;
}
